nav {
  background-color: #9f9f9f;
  height: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover {
  background-color: #c7fa23;
}

.botao1 {
  background-color: #ebd50c;

  font-size: 25px;
}
.botao1 {
  border-radius: 7px;
}

.botao1 {
  background-color: white;
  color: black;
  border: 2px solid #ebd50c; /* amarelo */
}
.botao1 {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.botao1:hover {
  background-color: #effc00; /* Green */
  color: white;
}

.botao1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.botao2 {
  background-color: #ebd50c;

  font-size: 25px;
}
.botao2 {
  border-radius: 7px;
}



.botao2 {
  background-color: white;
  color: black;
  border: 2px solid #ebd50c; /* amarelo */
}
.botao2 {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.botao2:hover {
  background-color: #effc00; /* Green */
  color: white;
}

.botao2 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


h2 {
  color: #fc0;
  text-align: initial;
  font: italic 16px Verdana, Sans-serif;
  }




